_* {
	border: 1px solid red;
}

header {
	margin: 0 auto;
	background-image: url(../images/header.jpg);
}

.container_top {
	margin: 0 auto;
	width: 960px;
	height: 500px;
	position: relative;
}

#logo {
	position:absolute;
	top: 10px;
	left: 0px;
}

nav.main, a {
	 text-decoration: none;
	 color: #0D3451;
}

nav.main, img {
	margin: 0;
	padding: 0;
}

p.tagline { 
  top: 100px; 
  width: 100%; 
  text-align: center;
  color: #ffffff;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 100px;
	text-shadow: #0D3451 2px 2px;
	margin-bottom: none;
	padding-bottom: none;
}

small {
  color: #0D3451;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	text-transform: none;
	margin-top: 0px;
	display: block;
	text-shadow: none;
	font-weight: bold;
}

ul.top_left {
   list-style-type: none;
   display: inline-block;
   font-family: 'PT Sans', sans-serif;
   padding-left: 40px;
}

ul.top_right, li {
   list-style-type: none;
   display: inline-block;
   float: right;
   font-family: 'Oswald', sans-serif;
   padding-left: 0px;
}

.search {
	padding-left: 5px;
}

li {
	padding-left: 20px;
}
/************** MIDDLE *********************/
.container_middle {
	margin: 0 auto;
	width: 960px;
}

/************** ASIDE *********************/

aside {
	width: 230px;
	float: right;
	padding-left: 50px;
	padding-right: 50px;
}

.avatar {
		margin: 0 auto;
		text-align: center;
		margin-top: 40px;
}

h3 {
	color: #206DB1;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 50px;
	margin-bottom: 0px;
}

h4 {
	color: #206DB1;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	margin-bottom: 0px;
}

.contacts {
	font-family: 'PT Sans', sans-serif;
	font-size: 10px;	
	margin: 0px;
	padding: 2px;
	display: inline-block;
	color: #A4B3BF

}

.social {
	text-align: center;
	margin: 0px auto;

}

.advertisement {
	width: 230px;
	padding-left: 0px;
	margin-top: 30px;
}

.adlink {
font-family: 'PT Sans', sans-serif;
	font-size: 10px;	
	float: right;
	display: inline-block;
	color: #A4B3BF;	
	text-decoration: underline;
}

.caption, p {
	color: #A4B3BF;
	font-size:11px;
}

/************** ARTICLE *********************/

article {
	margin: 0; 
	width: 630px;
}

.thumb {
	width: 15px;
	height: 15px;
	padding-left: 0px;
	padding-right: 5px;
	display: inline-block;
}

.authorname {
	display: inline-block;
	color: #206DB1;
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
}
time {
	color: #A4B3BF;
	font-size:10px
}

.date {
	display: inline-block;
	text-decoration: underline;
	color: #A4B3BF;
	font-size:10px;
}

h1 {
	color: #0D3451;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 48px;
	margin-bottom: 0px;
}

article, p {
	color: #5E686F;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

blockquote {
	color: #206DB1;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
}

span.inline {
	color: #206DB1;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}



h2 {
	color: #0D3451;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 48px;
}

.button {
		display: inline-block;
		width: 125px;
		height: 25px;
			margin: 0px 10px 0px 0px;

}

.bug {
	background-color: #5E686F;
	margin: 0px;
	float: left;
	height: 15px;
	width: 15px;
				border: none;
				padding: 5px;


}
.label {
	float: right;
	background-color: #A4B3BF;
	text-align: center;
	color: #ffffff;
	margin: 0px;
	padding-top: 5px;
	color: #ffffff;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	height: 20px;
	width: 100px;
	border: none;
}

/************** FOOTER *********************/



.container_middle2 {
	margin: 0 auto;
	width: 960px;
	height: 330px;
	border: none;
	padding: 0px;
}

h2 {
	color: #0D3451;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 48px;
	margin-bottom: 0px;
	text-align: center;
	padding-bottom: 20px;
}

.post {
	max-width: 240px;
	height: 244px; 
	border: none;
	float: left;
	position: relative;
}

#overlay {
  position: absolute;
  top: 0px; 
  left: 0px;
	width: 240px;
	height: 244px;
  color: #ffffff;  
}

.colorblock {
	position: absolute;
  top: 0px; 
  left: 0px;
	width: 240px;
	height: 244px;
	background-color: #0D3451;
  opacity: 0.7;
}

.post:hover #overlay {
  color: #0D3451;  
  opacity:0;
}

.title_static:hover .title_static {
  color:#ffffff;  
  opacity:1;
}

.title_static { 
  position: absolute;
  margin: 0px; 
  bottom: 10px; 
  left: 10px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

.title_hot { 
  position: absolute;
  margin: 0px; 
  bottom: 10px; 
  left: 10px;
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 24px; 
}

img.photos {
	max-width: 240px;
	height: auto; 
	border: none;
}

/****************** Bottom Blue Bar *******************/

.container_bottom {
	margin: 0 auto;
	width: 930px;
	height: 60px;
	background-color: #0D3451;
	padding: 20px 20px 10px 10px;

}

p.sub_left {
	display: inline-block;
	margin-bottom: 0px;
	padding: 0px;
}
/*
nav.sub {
	display:inline-block;
	float: right;
}*/



.bottom_left {
	height: 60px;
	display: inline-block;
	float: left;
}

img.bottom_left {
	display: inline-block;
	float:left;
}
img.margin {
	margin: 10px;	
}

p.bottom_left {
	display: inline-block;
}
/*
ul.bottom_right {
	display: inline-block;
	float: right;
}
*/

#navlist {
list-style: none;
padding: 0;
margin-left: 10px;
}

#navlist li {
display: inline;
margin-left: 10px;
padding: 0;
margin: 0;
font-size: 11px;
color: #ffffff;
}

a.sub_right {
	display:inline-block;
	float: right;
	color: #A4B3BF;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'PT Sans', sans-serif;

}

/*
#navlist li:before { 
	content: "| "; 
}

#navlist li:first-child:before { 
	content: ""; 
}
*/


